.main-home {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    font-size: 12px;
    h2 {
        padding-bottom: 2rem;
    }
    p {
        padding-bottom: 1rem;
        text-align: justify;
    }
}

.set {
    width: 100%;
    outline-style: none;
    border: none;
    background-color: rgb(36, 54, 149);
    color: azure;
    padding: 1rem;
    margin-bottom: 0.5rem;
}
.clear {
    width: 100%;
    outline-style: none;
    border: none;
    background-color: rgb(51,102,0);
    color: azure;
    padding: 1rem;
}


@media screen and(min-width:768px) {
    .container {
        width: 400px;
        padding-top: 2rem;
        font-size: 14px;
    }
}

@media screen and(min-width:900px) {
    .container {
        width: 600px;
        font-size: 16px;
    }
}